<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>빙그레</title>
    <meta name="description" content="건강과 행복을 함께 나누는 밝은 미소의 메신저">
	<meta name="robots" content="noodp">
	<meta name="NaverBot" content="All">
	<meta name="NaverBot" content="index, follow">
	<meta name="Yeti" content="All">
	<meta name="Yeti" content="index, follow">
    <!-- <meta name="keywords" content="" /> -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="빙그레">
    <meta property="og:description" content="건강과 행복을 함께 나누는 밝은 미소의 메신저">
    <meta property="og:url" content="https://www.bing.co.kr/">
    <meta property="og:image" content="http://bing.musign.net/img/main/og_img_binggrae.jpg">
    <meta property="og:site_name" content="binggrae">
    <meta name="twitter:title" content="빙그레">
    <meta name="twitter:description" content="건강과 행복을 함께 나누는 밝은 미소의 메신저">
    <link rel="shortcut icon" href="/img/main/ico_favicon.ico">
    <!--나이스셀렉트-->
    <!-- <link rel="stylesheet" th:href="@{/niceSelect/nice-select2.css}"> -->
    <link rel="stylesheet" href="/css/front/nice-select.css">
    <link rel="stylesheet" href="/css/front/aos.css">
    <link rel="stylesheet" href="/css/front/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/front/musign.css">
    <link rel="stylesheet" href="/css/front/common-2026.css?v=260311">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49649065-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-49649065-2');
    </script>


    <script src="/js/front/jquery.js"></script>
    <script src="/js/front/slick.js"></script>
    <script src="/js/front/masonry.pkgd.min.js"></script>
    <script src="/js/front/common.js"></script>
    <script src="/js/front/main.js"></script>
    <script src="/js/front/sub.js"></script>
    <script src="/js/front/contri_history.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/function-2026.js?v=26080401"></script>
    <script src="//malsup.github.io/min/jquery.form.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tz2w3a0shp&submodules=geocoder"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js"></script>
    <script type="text/javascript" src="/js/front/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/js/front/jquery.nice-select.js"></script>
    <!--나이스셀렉트-->
     <!-- <script th:src="@{/niceSelect/nice-select2.js}"></script> -->
    <script type="text/javascript" src="/js/front/aes.js"></script>


    <span itemscope="" itemtype="http://schema.org/Organization">
        <link itemprop="url" href="https://www.bing.co.kr/">
        <a itemprop="sameAs" href="https://blog.naver.com/official_binggrae/"></a>
        <a itemprop="sameAs" href="https://www.instagram.com/binggraekorea/"></a>
        <a itemprop="sameAs" href="https://www.youtube.com/channel/UCOmz8eDBQ04h6i0_8p_V7eg"></a>
    </span>
</head>
<body>
    <div id="wrap" class="front_layout">
        <div class="front_header">
        <header id="header" class="header">
            <div class="header_top">
                <ul class="flex_center">
                    <li>
                        <a href="https://srm.bing.co.kr/" target="_blank" class="flex_center">
                            <span>구매포털시스템</span>
                            <img src="/img/main/link_arrow02.png" alt="binggrae">
                            <!-- <img src="/img/main/link_arrow02_w.png" alt="binggrae" class="hover"> -->
                        </a>
                    </li>
                    <li>
                        <a href="https://recruit.bing.co.kr/app/web/main/index_new.jsp" target="_blank" class="flex_center">
                            <span>인재채용</span>
                            <img src="/img/main/link_arrow02.png" alt="binggrae">
                            <!-- <img src="/img/main/link_arrow02_w.png" alt="binggrae" class="hover"> -->
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header_container flex_center">
                <h1 class="header_sec01 logo">
                    빙그레
                    <a href="/">
                    <img src="/img/main/logo-pc.png" alt="binggrae" class="pc">
                    <img src="/img/main/logo_mo.png" alt="binggrae" class="mo">
                    </a>
                </h1>
                <div class="header_sec02">
                    <nav class="gnb01" >
                        <ul class="flex_center depth01">
                            <li>
                                <a href="/company/philosophy">회사소개</a>
                                <ul class="depth02">
                                    <li><a href="/company/philosophy">경영이념</a></li>
                                    <li><a href="/company/business">사업분야</a></li>
                                    <li><a href="/company/history">히스토리</a></li>
                                    <li ><a href="/company/ceo">CEO인사말</a></li>
                                    <li><a href="/support/location">사업장소개</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="/product/all">제품소개</a>
                                <!-- <a href="javascript:alert('준비중입니다')">제품소개</a> -->
                                <ul class="depth02">
                                    <li class="active" >
                                        <a href="/product/list?type=1">아이스크림</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=2">우유/치즈</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=3">발효유</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=4">커피</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=10">주스</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=9">음료</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=5">스낵/디저트</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=11">건강지향</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>
                                    <li >
                                        <a href="/product/list?type=7">수출제품</a>
                                        <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                    </li>

<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=icecream' } ? 'active'"><a href="/product/list?type=icecream">아이스크림</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=milk' } ? 'active'"><a href="/product/list?type=milk">우유/치즈</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=yogurt' } ? 'active'"><a href="/product/list?type=yogurt">발효유</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=coffee' } ? 'active'"><a href="/product/list?type=coffee">커피</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=juice' } ? 'active'"><a href="/product/list?type=juice">주스</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=beverage' } ? 'active'"><a href="/product/list?type=beverage">음료</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=snack' } ? 'active'"><a href="/product/list?type=snack">스낵/디저트</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=health' } ? 'active'"><a href="/product/list?type=health">건강지향식품</a></li>-->
<!--                                    <li th:class="${#httpServletRequest.getQueryString() == 'type=export' } ? 'active'"><a href="/product/list?type=export">수출제품</a></li>-->
                                </ul>
                            </li>
                            <li>
                                <a href="/esg/esg">지속가능경영</a>
                                <ul class="depth02">
                                    <li><a href="/esg/esg">지속가능경영 체계</a></li>
                                    <li><a href="/esg/eco">Eco-Friendly</a></li>
                                    <li><a href="/esg/value">Shared Value</a></li>
                                    <li><a href="/esg/global">Global Integrity</a></li>
                                    <li><a href="/esg/ethics">윤리준법경영</a></li>
                                    <li><a href="/esg/contribution">사회공헌</a></li>
                                    <li><a href="/esg/reports">보고서 및 정책</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/investment/invest_finance">투자정보</a>
                                <ul class="depth02">
                                    <li><a href="/investment/invest_finance">재무정보</a></li>
                                    <li><a href="/investment/stocks">주식정보</a></li>
                                    <li><a href="/investment/invest_announce">전자공고</a></li>
                                    <li><a href="/investment/invest_public">공시정보</a></li>
                                    <li><a href="/investment/ir">IR자료실</a></li>
                                </ul>
                            </li>
                            <li>
                                 <a href="/news/news_home">뉴스룸</a>
                                <ul class="depth02">
                                    <li><a href="/news/news_new">새소식</a></li>
                                    <li><a href="/news/news_announced">보도자료</a></li>
                                    <li><a href="/news/news_story">빙그레 스토리</a></li>
                                    <!-- <li><a href="/news/digital_goods">빙그레 굿즈</a></li> -->
                                    <li><a href="/news/media_font" style="white-space: normal; word-break: keep-all;">미디어 라이브러리</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/center/service">고객센터</a>
                                <ul class="depth02">
                                    <li><a href="/center/service">고객상담</a></li>
                                    <!-- <li th:class="${#httpServletRequest.requestURI.contains('supply')} ? 'active'"><a href="/center/supply?prod_cat_idx=2">제품공급문의</a></li> -->
                                    <!-- <li th:class="${#httpServletRequest.requestURI.contains('supply')} ? 'active'"><a href="javascript:alert('준비중입니다')">제품공급문의</a></li> -->
                                    <li><a href="/center/cyber">사이버 신고센터</a></li>
                                    <li><a href="/center/safe">안전신문고</a></li>
                                    <li><a href="/support/privacy">개인정보처리방침</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header_sec03 flex_center">

                    <div class="right flex_center">
                        <div class="lang">
                            <p class="flex_center"><span class="font_poppin">KR</span><span class="triangle"><img src="/img/layout/lang_btn.png" alt="binggrae"></span></p>
                            <ul>
                                <li><a href="/" class="font_poppin">KR</a></li>
                                <li><a href="http://eng.bing.co.kr" target="_blank" class="font_poppin">EN</a></li>
                            </ul>
                        </div>
                        <div class="hamberger">
                            <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav class="hamberger_menu">
            <div class="black_bg"></div>
            <div class="hm_container">
                <div class="hm_sec01 flex_center mo">
                    <ul class="flex_center">
                        <li><a href="https://srm.bing.co.kr/" target="_blank" class="flex_center"><span>구매포털시스템</span><img src="/img/main/link_arrow02.png" alt="binggrae"></a></li>
                        <li><a href="https://recruit.bing.co.kr/app/web/main/index_new.jsp"  target="_blank" class="flex_center"><span>인재채용</span><img src="/img/main/link_arrow02.png" alt="binggrae"></a></li>
                    </ul>
                    <button class="hm_close"><img src="/img/main/ham_close.png" alt="binggrae"></button>
                </div>
                <div class="hm_sec02">
                    <ul class="depth01">
                        <li>
                            <a href="#" class="flex_center"><span class="font_bingbold">회사소개</span><img src="/img/main/m_ham_menu_btn.png" alt="binggrae" class="mo"></a>
                            <ul class="depth02">
                                <li><a href="/company/philosophy">경영이념</a><span class="circle"></span></li>
                                <li><a href="/company/business">사업분야</a><span class="circle"></span></li>
                                <li><a href="/company/history">히스토리</a><span class="circle"></span></li>
                                <li ><a href="/company/ceo">CEO인사말</a><span class="circle"></span></li>
                                <li><a href="/support/location">사업장 소개</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#" class="flex_center"><span class="font_bingbold">제품소개</span><img src="/img/main/m_ham_menu_btn.png" alt="binggrae" class="mo"></a>
                            <ul class="depth02">
                                <li class="active">
                                    <a href="/product/all">전체보기</a>
                                    <!-- <a href="javascript:alert('준비중입니다')">전체보기</a> -->
                                    <span class="circle"></span>
                                </li>
                                <li class="active" >
                                    <a href="/product/list?type=1">아이스크림</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=2">우유/치즈</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=3">발효유</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=4">커피</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=10">주스</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=9">음료</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=5">스낵/디저트</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=11">건강지향</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>
                                <li >
                                    <a href="/product/list?type=7">수출제품</a>
                                    <!-- <a href="javascript:alert('준비중입니다')" th:text="${item.CAT_NAME}"></a> -->
                                </li>


<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=icecream' } ? 'active'"><a href="/product/list?type=icecream">아이스크림</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=milk' } ? 'active'"><a href="/product/list?type=milk">우유/치즈</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=yogurt' } ? 'active'"><a href="/product/list?type=yogurt">발효유</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=coffee' } ? 'active'"><a href="/product/list?type=coffee">커피</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=juice' } ? 'active'"><a href="/product/list?type=juice">주스</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=beverage' } ? 'active'"><a href="/product/list?type=beverage">음료</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=snack' } ? 'active'"><a href="/product/list?type=snack">스낵/디저트</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=health' } ? 'active'"><a href="/product/list?type=health">건강지향식품</a><span class="circle"></span></li>-->
<!--                                <li th:class="${#httpServletRequest.getQueryString() == 'type=export' } ? 'active'"><a href="/product/list?type=export">수출제품</a><span class="circle"></span></li>-->
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="flex_center"><span class="font_bingbold">지속가능경영</span><img src="/img/main/m_ham_menu_btn.png" alt="binggrae" class="mo"></a>
                            <ul class="depth02">
                                <li><a href="/esg/esg">지속가능경영 체계</a><span class="circle"></span></li>
                                <li><a href="/esg/eco">Eco-Friendly</a><span class="circle"></span></li>
                                <li><a href="/esg/value">Shared Value</a><span class="circle"></span></li>
                                <li><a href="/esg/global">Global Integrity</a><span class="circle"></span></li>
                                <li><a href="/esg/ethics">윤리준법경영</a><span class="circle"></span>
                                    <!-- <ul class="depth03">
                                        <li><a href="#">윤리강령</a></li>
                                        <li><a href="#">공정거리자율준수</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="/esg/contribution">사회공헌</a><span class="circle"></span></li>
                                <li><a href="/esg/reports">보고서 및 정책</a><span class="circle"></span></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="flex_center"><span class="font_bingbold">투자정보</span><img src="/img/main/m_ham_menu_btn.png" alt="binggrae" class="mo"></a>
                            <ul class="depth02">
                                <li><a href="/investment/invest_finance">재무정보</a><span class="circle"></span></li>
                                <li><a href="/investment/stocks">주식정보</a><span class="circle"></span></li>
                                <li><a href="/investment/invest_announce">전자공고</a><span class="circle"></span></li>
                                <li><a href="/investment/invest_public">공시정보</a></li>
                                <li><a href="/investment/ir">IR자료실</a><span class="circle"></span></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="flex_center"><span class="font_bingbold">뉴스룸</span><img src="/img/main/m_ham_menu_btn.png" alt="binggrae" class="mo"></a>
                            <ul class="depth02">
                                <li><a href="/news/news_home">전체보기</a><span class="circle"></span></li>
                                <li><a href="/news/news_new">새소식</a><span class="circle"></span></li>
                                <li><a href="/news/news_announced">보도자료</a><span class="circle"></span></li>
                                <li><a href="/news/news_story">빙그레 스토리</a><span class="circle"></span></li>
                                <!-- <li><a href="/news/digital_goods">빙그레 굿즈</a><span class="circle"></span></li> -->
                                <li><a href="/news/media_font">미디어 라이브러리</a><span class="circle"></span></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="flex_center"><span class="font_bingbold">고객센터</span><img src="/img/main/m_ham_menu_btn.png" alt="binggrae" class="mo"></a>
                            <ul class="depth02">
                                <li><a href="/center/service">고객상담</a><span class="circle"></span>
                                    <ul class="depth03">
                                        <li><a href="/center/service">FAQ</a></li>
                                        <li><a href="/center/service_email" class="letter_spacing0">1:1 문의하기</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="#">제품공급문의</a><span class="circle"></span></li> -->
                                <!-- <li th:class="${#httpServletRequest.requestURI.contains('supply')} ? 'active'"><a href="/center/supply?prod_cat_idx=2">제품공급문의</a></li> -->
                                <!-- <li th:class="${#httpServletRequest.requestURI.contains('supply')} ? 'active'"><a href="javascript:alert('준비중입니다')">제품공급문의</a></li> -->
                                <li><a href="/center/cyber">사이버 신고센터</a><span class="circle"></span></li>
                                <li><a href="/center/safe">안전신문고</a><span class="circle"></span></li>
                                <li><a href="/support/privacy">개인정보처리방침</a><span class="circle"></span></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="hm_sec03">
                    <ul class="lang2 flex_center">
                        <li class="on"><a href="/">KR</a></li>
                        <li><a href="/en/">EN</a></li>
                    </ul>
                    <a href="/support/location">사업장 소개</a>
                </div>

            </div>

        </nav>
        <aside>
            <div class="btn_wr cf">
                <!--<div class="quick_btn">
                    <img src="/img/layout/chat_img.png" class="down" alt="image" />
                    <p class="quick_message">무엇을 도와드릴까요?</p>
                </div>
                <div class="aside_btn shop">
                    <a href="https://brand.naver.com/binggrae" target="_blank" class="btn font_poppin">SHOP</a>
                </div>-->
                <div class="aside_btn">
                    <button class="btn to_down">
                        <img src="/img/layout/fix_arrow.png" class="down" alt="to down" />
                    </button>
                    <button class="btn to_top">
                        <img src="/img/layout/fix_arrow.png" class="down" alt="to down" />
                    </button>
                </div>
            </div>
            <div id="bing_chat" class="">
                <div class="bing_chat_inner">
                    <div class="dim_box"></div>
                    <p class="mobile_hd">
                        빙그레 FAQ 챗봇
                    </p>
                    <ul class="toggle_wr">
                        <!-- 토글 활성화되면 act 클래스 추가 -->
                        <li class="toggle_it">
                            <div class="toggle_tit inb">
                                <div>
                                    <p class="tit ko b_txt">자주 묻는 질문에서 먼저 확인하세요.</p>
                                </div>
                            </div>
                            <div class="toggle_cont inb">
                                <p class="cont s_txt">
                                    빙그레에서 자주 묻는 질문을 준비했습니다.<br>
                                    원하시는 카테고리 선택시, 해당 페이지로 연결됩니다.
                                </p>
                                <div class="cate_box grid_box">
                                    <a href="/center/service?search_name=&search_type=아이스크림">아이스크림</a>
                                    <a href="/center/service?search_name=&search_type=우유/치즈">우유/치즈</a>
                                    <a href="/center/service?search_name=&search_type=발효유">발효유</a>
                                    <a href="/center/service?search_name=&search_type=커피/음료">커피/음료</a>
                                    <a href="/center/service?search_name=&search_type=스낵">스낵</a>
                                    <a href="/center/service?search_name=&search_type=기업일반">기업일반</a>
                                    <a href="/center/service?search_name=&search_type=재활용">재활용</a>
                                    <a href="/center/service?search_name=&search_type=온라인몰">온라인몰</a>
                                    <a href="/center/service?search_name=&search_type=해외(수출,수입)">해외(수출,수입)</a>
                                    <a href="/center/service?search_name=&search_type=기타">기타</a>
                                </div>
                                <div class="button">닫기<span></span><span></span></ㅇ>
                            </div>
                        </li>
                    </ul>
                    <div class="bing_chat_cont">
                        <!-- 채팅 영역 -->
                        <div class="bing_chat_wr scroll">
                            <div class="scroll-wrapper scrollbar-inner">
                                <input type="text" id="chat_hidden01" class="vis_hid">
                                <div id="target" class="scrollbar-inner scroll-content">
                                <!-- 빙그레 톡은 chat_wr로 묶고 class명은 bing_ad 썸네일이 있으면 img_cont 사용자 톡은 chat_box로 묶고 class명은 bing_user -->
                                <div class="chat_wr">
                                    <div class="bing_chat_top">
                                        <div class="bing_chat_title flex_center">
                                            <div>
                                                <span class="bing_chat_icon">
                                                    <img src="/img/icon/chat_icon.png">
                                                </span>
                                            </div>
                                            <h4 class="font_bingbold">빙그레</h4>
                                        </div>
                                    </div>
                                    <div class="chat_box bing_ad">
                                        <p class="chat_ans">
                                            안녕하세요. 고객님<br>
                                            궁금한 내용은 아래의 버튼을 선택해 주세요.
                                        </p>
                                    </div>
                                    <div class="chat_box main">
                                        <!-- <button type="button" onclick="javascript:selCate(this, '1')" class="mu_cate">경영지원팀</button><button type="button" onclick="javascript:selCate(this, '9')" class="mu_cate">기획팀</button><button type="button" onclick="javascript:selCate(this, '10')" class="mu_cate">디자인팀</button><button type="button" onclick="javascript:selCate(this, '11')" class="mu_cate">개발팀(Front)</button><button type="button" onclick="javascript:selCate(this, '12')" class="mu_cate">개발팀(Back)</button><button type="button" onclick="javascript:selCate(this, '35')" class="mu_cate">빙그레 서체</button><button type="button" onclick="javascript:selCate(this, '36')" class="mu_cate">1차분류</button> -->
                                    </div>
                                    <div class="chat_box bing_ad">
                                        <p class="chat_ans">
                                            찾으시는 정보가 없으신가요?<br>
                                            아래의 1:1문의하기 버튼을 선택하여<br>
                                            온라인 접수 주시면, 빠르게 답변드리겠습니다.
                                        </p>
                                    </div>
                                    <div class="chat_box">
                                        <button type="button" class="bing_cate2"><a href="/center/service_email"><span class="en">1:1</span> 문의하기</a></button>
                                    </div>
                                </div>
                                <!-- <div class="chat_box bing_user">
                                    <p class="chat_ans">
                                        링키바 출시일
                                    </p>
                                </div> -->

                               <!--  <div class="chat_wr">
                                    <div class="bing_chat_top">
                                        <div class="bing_chat_title flex_center">
                                            <div>
                                                <span class="bing_chat_icon">
                                                    <img src="/img/icon/chat_icon.png">
                                                </span>
                                            </div>
                                            <h4 class="font_bingbold">빙그레</h4>
                                        </div>
                                    </div>
                                    <div class="chat_box bing_ad">
                                        <p class="chat_ans">
                                            링키바 출시일은 0월 0일이며,<br>
                                            전국의 편의점 및 온라인몰에서 구입 가능합니다.<br>
                                            온라인 구입처 링크는 아래 버튼을 클릭해 주세요.
                                        </p>
                                    </div>
                                    <div class="chat_box bing_ad img_cont">
                                        <div class="imgbox">
                                            <img src="/upload/product/taste_linky.png" alt="">
                                        </div>
                                        <a href="javascript:void(0)" class="link_btn">바로가기</a>
                                    </div>
                                </div> -->
                               <!--  <div class="chat_wr">
                                    <div class="chat_box bing_ad">
                                        <p class="chat_ans">
                                            다른 문의가 있으시면 언제든지 말씀해 주세요.
                                        </p>
                                    </div>
                                    <div class="chat_box">
                                        <button type="button" class="bing_cate">1:1 문의하기</button>
                                    </div>
                                </div>  -->
                            </div>
                            <!-- <input type="text" id="chat_hidden02" class="vis_hid vis_hid02"> -->
                            <input type="text" id="chat_hidden02" class="vis_hid vis_hid02">
                        </div>
                        <!-- 채팅 영역 -->
                    </div>

                    <!-- 검색바 영역 -->
                    <div class="bing_chat_search">
                        <button type="button" class="reset_btn" onclick="targetRefresh()">
                            <img src="/img/icon/chat_reset.png" alt="chat_reset">
                            <span class="reset_txt">처음으로</span>
                        </button>
                        <!-- <div class="search_inner">
                            <span class="all_menu">
                                <a href="#bing_chatMenu" class="menu_btn">
                                    <span class="text_hidden">메뉴</span>
                                    <span class="menu_bar top_menu_bar"></span>
                                    <span class="menu_bar middle_menu_bar"></span>
                                    <span class="menu_bar bottom_menu_bar"></span>
                                </a>
                            </span>
                            <span class="search_input">
                                <input type="text" id="search_val" name="search_val" placeholder="검색어를 입력하세요." onkeypress="excuteEnter(searchCate)">
                                <button type="button" onclick="searchCate()" class="search_btn"><img src="../../img/main/search_icon.png" alt="검색하기"></button>
                            </span>
                        </div> -->
                    </div>
                    <button type="button" class="bing_close_btn" onclick="bing_close_btn()"><span></span><span></span></button>
                </div>
            </div>
        </aside>
    </div>
        <div class="front_container">
            <main id="container">
                
    <script>
        var page_cnt=1;
        $(document).ready(function() {
            let type = '1';
            let search_name = '';
            $('#search_name').val(search_name);
            change_act(type);
            getList('1', type);
        });

        //addProduct() 를 위한 전역변수 선언
        var temp_code_nm='';
        function getList(tagType, target_pdt_code) {
            $('.list_btn_wr').show()

            // temp_code_nm = target_pdt_code;
            //let pdt_code = convert_code(target_pdt_code);
            change_act(target_pdt_code);
            $("#prod_cat_idx").val(target_pdt_code);

            start_loading();
            $.ajax({
                type : "POST",
                url : "./getProductList",
                dataType : "text",
                data : {
                    pdt_code : target_pdt_code
                    ,page_cnt : page_cnt*16
                    ,search_name : $('#search_name').val()
                    ,tag_type : tagType
                    ,lang: 'KO'
                },
                error : function() {
                    console.log("AJAX ERROR");
                },
                success : function(data) {
                    //  console.log(data);
                    var result = JSON.parse(data);
                    var inner = "";

                    if (result.listCount == 0) {
                        inner += '<tr>';
                        inner += '	<td colspan="18"><div class="no-data">검색결과가 없습니다.</div></td>';
                        inner += '</tr>';

                        $('.list_btn_wr').hide();
                    }
                    else {
                        var cnt = 0;
                        var divide = 4;
                        if($(window).width() < 768){
                            divide = 2;
                        }
                        $.each(result.list, function(index, entry) {
                            inner += '<li class="product_item" data-aos="fade-up" data-aos-delay="'+((cnt%divide)*100)+'" onclick="location.href=\'/product/detail?PDT='+entry.FAMILY_IDX+'\'">';
                            inner += '  <div class="product_box box_hover">';
                            inner += '      <ul class="feature_wr inb">';
                            inner += '          <li class="feature_it">'+entry.FAMILY_NAME+'</li>';
                            inner += '          <li class="feature_it">'+entry.SUB_CNT+'개 제품</li>';
                            inner += '      </ul>';
                            inner += '      <div class="img_wr">';
                            inner += '          <img src="'+entry.PROD_IMG_FILE+'" alt="'+entry.FAMILY_NAME+'" onerror="this.src=\'/upload/product/bing_default.png\'" >';
                            inner += '      </div>';
                            inner += '      <div class="btn_wr">';
                            inner += '          <button class="view_more red">';
                            inner += '              더보기';
                            inner += '          </button>';
                            inner += '      </div>';
                            inner += '  </div>';
                            inner += '  <div class="product_name">'+entry.FAMILY_NAME+'</div>';
                            inner += '</li>';
                            cnt++;
                        });

                        if (result.listCount <= page_cnt*16) {
                            $('.list_btn_wr').hide();
                            $("#product_area").addClass("done");
                        }
                    }

                    $('#listCnt').text(result.listCount);
                    $("#product_area").html(inner);
                    end_loading();

                }
            });

        }

        function getList1(target_pdt_code) {
            //getList('1', target_pdt_code);
            location.href = '/product/list?type='+target_pdt_code;
        }

        function getList2(target_pdt_code) {
            getList('2', target_pdt_code);
        }
        function addProduct(){
            page_cnt++;
            getList('1', $("#prod_cat_idx").val());
        }

        function change_act(code_nm){
            $('.list_it').removeClass('act');
            // if (code_nm==''){$('.n1').addClass('act');}
            // else if (code_nm=='icecream') { $('.n2').addClass('act'); }
            // else if (code_nm=='milk')     { $('.n3').addClass('act'); }
            // else if (code_nm=='yogurt')   { $('.n4').addClass('act'); }
            // else if (code_nm=='coffee')   { $('.n5').addClass('act'); }
            // else if (code_nm=='beverage') { $('.n6').addClass('act'); }
            // else if (code_nm=='juice')    { $('.n7').addClass('act'); }
            // else if (code_nm=='snack')    { $('.n8').addClass('act'); }
            // else if (code_nm=='health')   { $('.n9').addClass('act'); }
            // else if (code_nm=='export')   { $('.n10').addClass('act'); }
            // $('.n'+code_nm).addClass('act');
            if (!code_nm==''){
                $('.n'+code_nm).addClass('act');
            }
            else {
                $('.n0').addClass('act');
            }
        }

        function reset_cnt(){
            page_cnt = 1;
        }

        function goSearch(){
            location.href = './search?'+'type='+ $("#prod_cat_idx").val()+'&search_name='+$("#search_name").val();
        }

        // page reaches to near bottom, auto load more
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - $(window).height()*1) {
                // Load more content
                if($("#product_area").hasClass("done") == false){
                     addProduct();
                }
            }
        });

        // if has get param type, scroll .slick-list to right position
        $(window).on('load', function() {
            let type = '1';
            console.log('type: '+type);
            if(type != ''){
                let target = $('.list_it.n'+type);
                let slickList = $('.product_list_slide .slick-list');
                let position = target.position().left + slickList.scrollLeft() - (slickList.width()/2) + (target.width()/2);
                slickList.animate({scrollLeft: position}, 400);
            }
        });


    </script>
    <!-- <div class="popup_wrap product_list">
        <div class="popup_bg"></div>
        <div class="popup_container">
            <div class="img_box"><img src="/img/sub/product/popup.png" alt="binggrae" /></div>

            <div class="close_box flex_center">
                <button type="button" class="close_day_btn"  ><span>오늘 하루 보지 않기</span></button>
                <button type="button" class="close_btn" ><span>닫기</span></button>
            </div>

        </div>
    </div> -->
    <section>
	
	<div class="popup_wrap product_list" >
		<div class="popup_bg"></div>
		<div class="popup_container">
			
			

		</div>
	</div>
		<script>
			window.onload=function(){
				var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
				if (isMobile) {
					$("input[name^=pcfile_]").css('display', 'none');
					$("input[name^=mofile_]").css('display', 'block');
				}
				else {
					$("input[name^=pcfile_]").css('display', 'block');
					$("input[name^=mofile_]").css('display', 'none');
				}

				cookiedata = document.cookie;
				console.log(cookiedata);
				/* <![CDATA[ */
				
				/* ]]> */
			}

			var getCookie = function (cname) {
				var name = cname + "=";
				var ca = document.cookie.split(';');
				for(var i=0; i<ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0)==' ') c = c.substring(1);
					if (c.indexOf(name) != -1) return c.substring(name.length,c.length);
				}
				return "";
			}

			// 24시간 기준 쿠키 설정하기
			var setCookie = function (cname, cvalue, exdays) {
				var todayDate = new Date();

				var rest_hour = 24 - todayDate.getHours();
				var rest_min = 60 - todayDate.getMinutes();
				var rest_sec = 60 - todayDate.getSeconds();

				todayDate.setTime(todayDate.getTime() + (exdays*rest_hour*rest_min*rest_sec*1000));
				//todayDate.setTime(todayDate.getTime() + (exdays*24*60*60*1000));
				var expires = "expires=" + todayDate.toUTCString();
				document.cookie = cname + "=" + cvalue + "; " + expires;
			}

			function close_day(idx) {
				//alert(idx);
				window.event.preventDefault()
				setCookie("close_"+idx, idx, 1);   //기간( ex. 1은 하루, 7은 일주일)
			}
			function close_win(idx) {
				//alert(idx);
				window.event.preventDefault()
				$("#popup_" + idx).hide();
				
			}
		</script>
	</section>
    <div id="product" class="content_wrapper content_list_wrapper product list">
        <div class="tit_wr">
            <div class="main_tit_wr">
        <nav class="breadcrumb">
            <ul class="brec_wr inb">
                <li class="brec n1 home">
                    <a href="/">
                        <img src="/img/icon/btn_icon_home.png" alt="to home">home
                    </a>
                </li>
                <li class="brec n2"><a href="/product/list">제품소개</a></li>
            </ul>
        </nav>
        <div class="main_tit">
            <h3 class="font_bingbold">제품소개</h3>
        </div>
    </div>
        </div><!-- //tit_wr -->

        <div class="cont_wr">
            <input type="hidden" id="prod_cat_idx" name="prod_cat_idx" value="1" />

            <section class="section sec02">
                <div class="product_list_slide list_wr inb">
                    <!-- [D] 활성화시 list_it에 act 추가 -->
                    <div class="list_it n0 list-all">
                        <a href="/product/all" class="txt_box">
                            <div class="img_box"><img src="/img/icon/hb-menu-red.svg" alt="binggrae" /></div>
                            <span>전체</span>
                        </a>
                    </div>
                    <div class="list_it n1" >
                        <a myName="1" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>아이스크림</span>
                        </a>
                    </div>
                    <div class="list_it n2" >
                        <a myName="2" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>우유/치즈</span>
                        </a>
                    </div>
                    <div class="list_it n3" >
                        <a myName="3" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>발효유</span>
                        </a>
                    </div>
                    <div class="list_it n4" >
                        <a myName="4" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>커피</span>
                        </a>
                    </div>
                    <div class="list_it n10" >
                        <a myName="10" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>주스</span>
                        </a>
                    </div>
                    <div class="list_it n9" >
                        <a myName="9" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>음료</span>
                        </a>
                    </div>
                    <div class="list_it n5" >
                        <a myName="5" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>스낵/디저트</span>
                        </a>
                    </div>
                    <div class="list_it n11" >
                        <a myName="11" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>건강지향</span>
                        </a>
                    </div>
                    <div class="list_it n7" >
                        <a myName="7" onclick="reset_cnt(); getList1(this.getAttribute(&#39;myName&#39;))" class="txt_box">
                            <span>수출제품</span>
                        </a>
                    </div>
                </div>
            </section><!-- //sec02 -->
            <section class="section sec03">
                <p class="sec_tit">빙그레의 대표 브랜드를 만나보세요</p>
                <div class="inner sec02_slider sec02_slider02">
                    <div class="prev sec02_arrow"><img src="/img/icon/prev_arrow.png" alt="binggrae"></div>
                    <div class="next sec02_arrow"><img src="/img/icon/next_arrow.png" alt="binggrae"></div>
                    <ul class="list_wr sec02_slider02_list">
                        <li class="slider02_brand01 top_bottom img_ani sec02_li01">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo01.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo01.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://www.tftmall.co.kr/goods/goods_list.php?cateCd=003003" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slider02_brand02 top_bottom img_ani sec02_li02">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo02.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo02.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://brand.naver.com/binggrae/category/5f4772ab0acb4f0baf703ea0ecd0dd75?cp=1" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slider02_brand03 top_bottom img_ani sec02_li03">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo03.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo03.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://brand.naver.com/binggrae/category/f3c09a683ba74e35b73d5da3f53d1dfc?cp=1" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slider02_brand04 top_bottom img_ani sec02_li04">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo04.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo04.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://brand.naver.com/binggrae/category/ebe532b5eb6b4dad8977a20c39d27154?cp=1" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slider02_brand05 top_bottom img_ani sec02_li05">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo05.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo05.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://brand.naver.com/binggrae/category/ea14e33c462c41e2a5f4a505caf135a1?cp=1" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slider02_brand06 top_bottom img_ani sec02_li06">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo06.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo06.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://www.tftmall.co.kr/goods/goods_list.php?cateCd=003002" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="slider02_brand07 top_bottom img_ani sec02_li07">
                            <div class="logo_box product_item">
                                <img src="/img/main/sec02_logo07.png" alt="binggrae" class="pc"/>
                                <img src="/img/main/m_sec02_logo07.png" alt="binggrae" class="mo"/>
                                <div class="btn_wr">
                                    <a href="https://www.tftmall.co.kr/goods/goods_list.php?cateCd=003001" target="_blank" class="view_more red">
                                        더보기
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section><!-- //sec03 -->
            <section class="section sec04 product_list_wr" id="product_wr">
                <!--<h4 class="product_tit font_bingbold b_txt">
                    전체제품(<span id="listCnt" class="num font_bingbold b_txt"></span>)
                </h4>-->
                <ul id="product_area" class="product_list inb">

                </ul>
                <div class="list_btn_wr flex_center">
                    <button class="view_more" onclick="addProduct();" id="viewMore">
                        더보기
                    </button>
                </div>
            </section>
        </div>
    </div>

                <!-- <th:block th:replace="front/product/list :: subContent" >컨텐츠 영역</th:block> -->
            </main>
        </div>
        <div>
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-section left">
				<img class="footer-logo" src="/img/icon/footer-logo.png" alt="binggrae"/>
				<ul class="footer-link-list">
					<li><a href="/support/privacy">개인정보처리방침</a></li>
					<li><a href="/support/location">오시는길</a></li>
				</ul>
				<span class="footer-text">경기도 남양주시 다산동 4344-3 / 경기도 남양주시 다산순환로 45(다산동)</span>
				<span class="footer-text">고객 문의 : 080.022.0056 / 월~금(공휴일 제외) 09:00~17:30
				</span>
				<a href="/center/service_email" class="footer-email-link">이메일 상담 바로가기</a>

				<p class="copyright">Binggrae Co.,Ltd. All rights reserved</p>
				<div class="channel-links-wrapper">
					<div class="channel-links">
						<div class="channel-title">Social 채널</div>
						<ul class="channel-list">
							<li>
								<a href="https://www.instagram.com/binggraekorea/" target="_blank" alt="인스타그램">
									<img src="/img/icon/footer-icon-insta.png" alt="binggrae" />
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UCOmz8eDBQ04h6i0_8p_V7eg" target="_blank" alt="유튜브">
									<img src="/img/icon/footer-icon-youtube.png" alt="binggrae" />
								</a>
							</li>
							<li>
								<a href="https://brand.naver.com/binggrae" target="_blank" alt="빙그레몰">
									<img src="/img/icon/footer-icon-bing.png" alt="binggrae" />
								</a>
							</li>
						</ul>
					</div>
					<div class="channel-links">
						<div class="channel-title">Global 채널</div>
						<ul class="channel-list">
							<li>
								<a href="https://www.instagram.com/binggrae.global/" target="_blank" alt="인스타그램">
									<img src="/img/icon/footer-icon-insta.png" alt="binggrae" />
								</a>
							</li>
							<li>
								<a href="https://www.tiktok.com/@binggrae.official" target="_blank" alt="틱톡">
									<img src="/img/icon/footer-icon-tiktok.png" alt="binggrae" />
								</a>
							</li>
							<li>
								<a href="https://www.youtube.com/@OMG_omyguide" target="_blank" alt="OMG">
									<img src="/img/icon/footer-icon-omg.png" alt="binggrae" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-section right">
				<div class="footer-report-section">
					<h3 class="footer-report-title">빙그레 임직원 및 종사자 온라인 제보센터</h3>
					<ul>
						<li>
							<a href="/center/cyber">
								<div class="report-item-content">
									빙그레 임직원의 부당한 요구<br>
									또는 업무처리, 인권고충, 기타 부정행위
								</div>
								<div class="report-item-btn">제보하기</div>
							</a>
						</li>
						<li>
							<a href="/center/safe">
								<div class="report-item-content">
									빙그레 종사자의 유해위험요소<br>
									및 안전 보건에 관한 의견
								</div>
								<div class="report-item-btn">제보하기</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	
	</footer>
</div>
    </div>
    <div id="do_loading" style="display: none;">
        ...
    </div>
</body>
</html>
